<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
 
 <table data-bind="ojComponent: {component: 'ojTable', 
            data: dataSource,
            columns: [
                {headerText: 'Director', field: 'director'},
                {headerText: 'Title', field: 'title'},
                {headerText: 'Genre', field: 'genre'},
                {headerText: 'Year', field: 'releaseYear'}
            ]
        }">
</table>
 
 
 
 
 
<div class="oj-hybrid-padding">
  <h3>About DB Rota </h3>
  <div>
      The Rota application schedules the support activities of all the members of the CERN IT-DB group. This system is used by the database, middleware, storage and systems administrators: https://service-db-rotatool.web.cern.ch
Nowadays the application if highly tighten to the database due its implementation (Oracle APEX). Oracle Restful Data Services (ORDS) makes it easy to develop modern REST interfaces for relational data in Oracle Databases. Oracle Javascript Extension Toolkit (JET) It's a collection of open source JavaScript libraries along with a set of Oracle contributed JavaScript libraries that make it as simple and efficient as possible to build applications that consume and interact with Oracle products and services.
  </div>
  <hr>
  <div>The goal of the project is to design a new web user interface for the DB Rota application with these objectives in mind:
Improve the User eXperience.


Separate the back-end services from the user interface.
Make the application portable, modular and open to extensions.
Test and evaluate some of the latest Oracle technologies and frameworks  </div>

</div>
 
 
 <table id="empsTable"
 data-bind="ojComponent: {component: 'ojTable', data: datasource, 
   columns: [{headerText:'ID',field:'employeeId'}, {headerText:'Name',field:'name'}],
   rowTemplate: 'rowScript'}">
</table>
<script id="rowScript "type="text/html">
 <tr>
  <td data-bind="text: employeeId"></td>
  <td data-bind="text: name"></td>
 </tr>
</script>
