<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<table data-bind="ojComponent: {component: 'ojTable', 
            data: dataSource,
            columns: [
                {headerText: 'User ID', field: 'userid'},
                {headerText: 'Name', field: 'name'},
                {headerText: 'Surname', field: 'surname'}
            ]
        }">
</table>




<h1>domaindefinition</h1>

<p>First name: <input data-bind="value: firstName" /></p>
<p>Last name: <input data-bind="value: lastName" /></p>

<h2>Hello, <span data-bind="text: fullName"> </span>!</h2>


<div id="gauge11" 
             data-bind="ojComponent: {
             component: 'ojStatusMeterGauge', 
             min: 0, 
             max: 100, 
             value: value11, 
             style: {fill: 'url(' + document.URL + '#pattern)'},
             orientation: 'circular',
             plotArea: {rendered: 'on'},
             metricLabel: {rendered: 'on'},
             readOnly: false
             }" 
             style=
             "align:center;
             margin-top:5px;
             margin-bottom:5px;
             height:100px;
             width:45%;">
        </div>
