<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1>home DB Rota Tool</h1>

<div class="bj-flex">
    <div class="oj-sm-only-flex-direction-column oj-flex oj-panel oj-margin">
         <div class="oj-flex-item oj-panel oj-margin">
            one
        </div>
         <div class="oj-flex-item oj-panel oj-margin">
            two
        </div>
    <div class="oj-flex-item oj-panel oj-margin">
            
        <div  id="picto-container">
  <div id='pc1' data-bind="ojComponent:{
      component: 'ojPictoChart',
      items: pictoChartItems,
      animationOnDisplay: 'auto',
      columnCount: 5
    }"
    style="vertical-align:middle; margin-right:15px">
  </div>
  <div style="display:inline-block; vertical-align:middle; font-weight:bold">
    <span style="color:#333333; font-size:1.1em">7 out of 10 college students</span><br>
    <span style="color:#ed6647; font-size:1.3em">have sleep problems.</span>
  </div>
</div>
        
    </div>
    <div class="oj-flex-item oj-panel oj-margin">
            four
    </div>
        
        



<div id='chart-container'>
    <div id="barChart" data-bind="ojComponent: {
            component: 'ojChart', 
            type: 'bar', 
            orientation: orientationValue,
            stack: stackValue,
            series: barSeriesValue, 
            groups: barGroupsValue, 
            animationOnDisplay: 'auto',
            animationOnDataChange: 'auto',
            hoverBehavior: 'dim'
        }"
         style="max-width:500px;width:100%;height:350px;">
    </div>
</div>
        





