<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1>oauthtest</h1>

<p>First name: <input data-bind="value: firstName" /></p>
<p>Last name: <input data-bind="value: lastName" /></p>

<h2>Hello, <span data-bind="text: fullName"> </span>!</h2>



<button data-bind="click: getData, 
                   ojComponent: { 
                       component: 'ojButton', 
                       label: 'Get Data'}">Get Data</button>
<hr>
<table 
    data-bind="ojComponent: {
            component: 'ojTable', 
            data: datasource,
    columnsDefault: {headerStyle: 'text-align: left; white-space:nowrap;'}, 
            columns:
               [
                  {headerText: 'User ', field: 'userName'},
                  {headerText: 'Text', field: 'text'}
               ]}">
</table>


<script src='libs/zalando/@zalando/oauth2-client-js'></script>